html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    background: var(--background);
    color: var(--basic);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --code: "Source Sans Pro";

    .mark {

        font-family: 'Delius Unicase', cursive;

        &::before {
            content: '0x6563';
        }
    }

    a.mark {
        color: var(--basic);
        text-decoration: none;
    }

    &.light {
        --background: #FFF;
        --diffuse: #e5e5e5;
        --basic: #333;
        --primary: #77CBB9;
        --secondary: #506C64;
        --positive: green;
        --negative: red;
        --warning: orange;
    }

    &.dark {
        --background: #1e1e1e;
        --diffuse: #333;
        --basic: #FFF;
        --primary: #75B8C8;
        --secondary: #A1C6CF;
        --positive: green;
        --negative: red;
        --warning: orange;
    }

    #swatch {
        .background {
            color: var(--background);
        }

        .diffuse {
            color: var(--diffuse);
        }

        .basic {
            color: var(--basic);
        }

        .primary {
            color: var(--primary);
        }

        .secondary {
            color: var(--secondary);
        }

        .positive {
            color: var(--positive);
        }

        .negative {
            color: var(--negative);
        }

        .warning {
            color: var(--warning);
        }
    }

    .text {
        &.primary {
            color: var(--primary);
        }
    }

    .input {
        background: var(--diffuse);
        width: 350px;
        margin: 8px;
        font-size: 1.5rem;
        font-family: inherit;

        .input,
        .placeholder,
        input,
        button,
        textarea {
            box-sizing: border-box;
            text-align: left;
            color: var(--basic);
            font-size: inherit;
            font-family: inherit;
            background: none;
            border: none;
            padding: 8px;
            margin: 0;

            &:focus {
                outline: none;

                &~.highlight {
                    color: var(--primary);
                    opacity: 1;
                }
            }
        }

        .highlight {
            color: var(--basic);
            transition: 300ms;
        }

        .icon {
            opacity: 0.2;
            padding: 8px;
            user-select: none;
        }
    }



    &>.body {
        flex: 1 1 auto;
        overflow: auto;
    }

    &>.footer {
        flex: 0 1 auto;
        display: flex;

        .space {
            flex: 1 1 auto;
        }

        &>* {
            vertical-align: middle;
        }
    }

    svg {
        rect {
            fill: var(--primary);
        }

        text {
            fill: var(--basic);
        }

        path {
            stroke: var(--basic);
        }
    }


    a {
        color: var(--primary);
    }

}

h1,
h2,
h3,
h4,
h5 {
    font-family: Spectral;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

button {
    border: none;
    outline: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

* {
    &::-webkit-scrollbar {
        width: 4px;
        height: 8px;
        background-color: rgba(0, 0, 0, .5);
    }

    /* Add a thumb */
    &::-webkit-scrollbar-thumb {
        background: #FFF;
        padding: 2px;
    }
}